// white theme css

@import "bootstrap";

@mixin radius_5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}





.logo_container {
  float: left;
}

// ==================== Hedader ====================

.header {
  margin: 20px 0px;
  padding-bottom: 20px;
  border-bottom: 2px solid #E5E5E5;
}


// ==================== home_button ====================
.home_button {
  margin-top:20px;
  margin-bottom: 10px;
}


// ==================== menu ====================


.header_menu {
  position: absolute;
  top: 50%; right: 0px;
  height: 30px;
  margin-top: -35px;
}


.menu_links{
  position: relative;
  .menu_config {
    position: absolute;
    right: 0px; top: -10px;
    display: none;
  }

}

.menu_links:hover{
  .menu_config {
    display: block;
  }
}


// ==================== config_menu_links ====================


.config_menu_links {
  margin: 0; padding: 0;

  .menu_item {
    list-style: none;
    display: block;
    padding: 6px;
    background: #F3F3F3;
    margin: 5px 0;

    @include radius_5;

    .link_title {
      float: left;
      font-size: 16px;
      margin: 6px 0 0 10px;
    }

    .glyphicon {
      cursor: pointer; 
      margin: 6px 0 0 10px; 
      color:#ccc; 
      font-size: 20px;
      float: left;
    }
    .btn {

    }

    .catalog_categoryes_container {
      float: none;
      clear: both;
      .catalog_categoryes {
        margin:0; padding:6px 0 0 12px;
        .category {
          list-style: none;
          display: block;
          padding: 6px;
          background: #E7E7E7;
          margin: 5px 0;

          @include radius_5;
        }
      }
    }

  }

}



// ==================== page ====================

.page_container {
  .edit_page_button {
    display: none;

    margin-left: 10px;
  }
}

.page_container:hover {
  .edit_page_button {
    display: block;
  }
}


// ==================== catalog ====================

.catalog_category {
  .title {
    a {
      display: block;
      text-align: center;
      padding: 5px 0;
    }
  }
}

.catalog_item {
  .title {
    a {
      display: block;
      text-align: center;
      padding: 5px 0;
    }
  }
}




.field_with_errors {
  @extend .has-error
}