// white theme css


@mixin radius_5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin transition_in_out ($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}


@media (min-width: 1300px) { 
  .container {
    width: 1300px;
  }
}
@media (min-width: 1400px) { 
  .container {
    width: 1400px;
  }
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-size: 16px;
  padding-bottom: 60px;
}


.btn span {
  // margin: 0 5px !important;
}

.alert {
  margin: 0;
}

.line_div_2px {
  width: 100%;
  height: 2px;
  background: #F2F2F2;
}

.btn.gl_indent .glyphicon,
a.gl_indent .glyphicon {
  padding: 0 6px 0 0px;
}





// ==================== universal config right top links ====================

.config_right_top_links_container {
  position: relative;
}
.config_right_top_links {
  position:absolute;
  top: 0px;
  right: 0px;
  display: none;
}
.config_right_top_links_container:hover .config_right_top_links {
  display: block;
}

// ==================== left_admin_bar  ====================

.main_wrapper{
  @include transition_in_out(0.7s);
}

body.left_admin_bar_show  .main_wrapper{
  padding-left: 200px;
  @include transition_in_out(0.7s);
}

.left_bar_show_btn {
  position: fixed;
  left: -53px; top: 60px;
  padding: 20px 20px;
  background: #B00000;
  width: auto;
  @include transition_in_out(0.7s);
  color: #fff;
  z-index: 102;


  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

body.left_admin_bar_show .left_bar_show_btn {
  left: 147px; top: 60px;
  @include transition_in_out(0.7s);
}

.left_admin_bar {
  position: fixed;
  left: -200px; top: 0px; bottom: 0px;
  width: 200px;
  background: #262626;
  overflow: hidden;
  z-index: 100;
  padding: 16px;
  @include transition_in_out(0.7s);
}

.left_admin_bar.show {
  left: 0px;
  @include transition_in_out(0.7s);
}


.left_admin_bar_in {

}


// ==================== Header  ====================

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  min-height: 125px;
  // border-bottom: 2px solid #E5E5E5;
}

.header_menu {
  position: absolute;
  top: 40%; right: 120px;
  height: 30px;
  margin-top: -15px;
  min-width: 200px;
}

.admin .header_menu {
  padding: 35px 0 0 0;
  top: 50%;
  margin: -75px 0 0 0;
}


.shop_activ .header_menu {
  right: 180px;
}

.cart {
  position: absolute;
  right: 0; top: 0;
  bottom: 0;
  background: #999;
  color: #fff;
  min-width: 160px;
  text-align: center;

  .link_to_cart {
    padding: 25% 0 0 0;
    display: block;
  }

  .items_count {
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 3px 8px;
    color: #C00072;
    background: #fff;
    font-size: 12px;
  }

  span {
    font-size: 20px;
  }

  a { color: #fff;}
}


// ==================== user_bar ====================
.user_bar {
  padding: 0 0 0 0;
  position: absolute;
  right: 0px; top: 0px; bottom: 0;

  .user_bar_in {
    padding: 35% 0 0 0;

    .btn.signin {
      margin:20% 0 0 0;
    }
  }
}

// ==================== config_cog ====================

.config_cog {
  position: absolute;
  right: 0px; top: -10px;
  display: none;
}

div:hover > .config_cog{
  display: block;
}


// ==================== editing_links ====================
.contain_editing_links {
  position: relative;
}
.editing_links {
  position:absolute;
  right: 0;
  display: none;

}
.contain_editing_links:hover .editing_links {
  display: block;
}



// ==================== Logo ====================


.logo_container {
  position: relative;
  float: left;
  .config_cog {
    position: absolute;
    right: 0px; top: -10px;
    display: none;
  }
}


// ==================== home_button ====================
.home_button {
  margin-top:20px;
  margin-bottom: 10px;
}


// ==================== menu ====================


// .header_menu {
//   position: absolute;
//   bottom: 10px; right: 0px;
// }

.menu {
  position: relative;
}
.admin .menu {
  background: #EFEFEF;
  padding: 35px 10px 10px 10px;
}

.menu_links{
  position: relative;
  .menu_config {
    position: absolute;
    right: 0px; top: -10px;
    display: none;
  }

}

.menu_links:hover{
  .menu_config {
    display: block;
  }
}

.left_col {
  // padding-right: 0;
  margin-top: 22px;
}

.admin .left_col {
  padding-right: 0;

}


.vertical_menu {

  .catalog_menu_item {
    background: #F4F4F4;
    display: block;
    width: 100%;
    padding: 10px 10px 20px 10px;
    margin: 0px 0 5px 0;
    ul {
      margin: 0; padding: 0 0 0 10px;
    }
    .category {
      list-style: none;
    }
  }

}

  .admin .catalog_menu_item {
    padding: 35px 10px 20px 10px;
    margin: 5px 0;
    background: #FBFBFB;
  }



.horizontal_menu {

}


// ==================== config_menu_links ====================

.menu_edit_page {
  .config_menu_links {
    margin: 0; padding: 0;

    .menu_item {
      list-style: none;
      display: block;
      padding: 6px;
      background: #F3F3F3;
      margin: 5px 0;

      @include radius_5;

      .link_title {
        float: left;
        font-size: 16px;
        margin: 6px 0 0 10px;
      }

      .glyphicon {
        cursor: pointer; 
        margin: 6px 0 0 10px; 
        color:#ccc; 
        font-size: 20px;
        float: left;
      }

      span.badge {
        margin: 7px 0 0 10px;
      }



      .catalog_categoryes_container {
        float: none;
        clear: both;
        .catalog_categoryes {
          margin:0; padding:6px 0 0 12px;
          .category {
            list-style: none;
            display: block;
            padding: 6px;
            background: #E7E7E7;
            margin: 5px 0;

            @include radius_5;
          }
        }
      }

    }

  }
}

// =============================================================
//                            big_image
// =============================================================
.big_image {
  position: relative;
  img {
    width: 100%;
  }
  .big_image_text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10%;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
  }
}



// ==================== page ====================

.page_container {

  margin: 0 0 40px 0;

  .edit_page_button {
    display: none;

    margin-left: 10px;
  }
}

.page_container:hover {
  .edit_page_button {
    display: block;
  }
}


.admin .bage_block {
  background: #F2F2F2;
  padding: 20px;
  position: relative;
}


// ==================== catalog ====================

.img_catalog {
  position: relative;
}

.catalog_config_links {
  position:absolute;
  top: 10px;
  right: 0px;
  display: none;
}

.img_catalog:hover .catalog_config_links {
  display: block;
}

.admin .img_catalog {
  background: #F2F2F2;
  padding: 20px;
}



.catalog_category {
  position: relative;
  .img {
    img {
      width: 100%;
    }
  }
  .title {
    a {
      display: block;
      text-align: center;
      padding: 5px 0;
    }
  }
}

.catalog_item {
  .img {
    img {
      width: 100%;
    }
  }
  .title {
    a {
      display: block;
      text-align: center;
      padding: 5px 0 2px 0;
    }
  }
  .price {
      text-align: center;
      padding: 0px 0 2px 0;
  }
  .button_to {
    text-align: center;
  }

}


.field_with_errors {
  @extend .has-error;
}

// =============================================================
//                         category page
// =============================================================

.admin .category_page_category {
  position: relative;
  background: #EFEFEF;
  padding: 25px 20px 20px 20px;
  margin: 22px 0;

}


// =============================================================
//                         img_catalog
// =============================================================

.img_catalog {
  margin: 20px 0 40px 0;

  h1 {
    margin-bottom: 20px;
  }
}


// =============================================================
//                            #footer
// =============================================================




// =============================================================
//                            #footer
// =============================================================

#footer {
  padding: 20px 0 0 0;
  position: absolute;
  height: 60px;
  background-color: #F5F5F5;
  bottom: 0;

  .col-md-12 {
    min-height: 30px;
  }
}




// =============================================================
//                            #UN
// =============================================================

.un_header_container {
  position: relative;
}

.un_header {
  position: absolute;
  top:0; right: 0; left: 0;
  background: #C8C8C8;

  height: 30px;
}

.un_header_in {
  position: relative;
}

.un_header .title {
  padding: 3px 0 0 10px;
}


.un_left_move {
  width: 30px; height: 30px;
  background: #999 image-url('un_btn_move.png') center no-repeat;
  float: left;
  margin: 0 5px 0 0;
  cursor: move;
}

.un_right_btns {
  position: absolute;
  right: 0;
  top: 0;
}

.un_nav_btn {
  display: block;
  float: left;
  width: 30px; height: 30px;
  background: #999;
}

.un_btn_delete {
  background: #BE0003 image-url('un_btn_delete.png') center no-repeat;
}

.un_btn_plus {
  background: #0B5601 image-url('un_btn_plus.png') center no-repeat;
}

.un_btn_config {
  background: #3366CC image-url('un_btn_config.png') center no-repeat;
}

.un_btn_catalog {
  background: #6666CC image-url('un_btn_catalog.png') center no-repeat;
}

.un_btn_page {
  background: #3366CC image-url('un_btn_page.png') center no-repeat;
}
.un_btn_blog {
  background: #BE45CC image-url('un_btn_blog.png') center no-repeat;
}


.un_btns_many_container {

}

.un_btns_many_container .content{
  display: none;
  position: absolute;
  right: 0px; top: 100%;
  z-index: 100;
}

.un_btns_many_container:hover .content{
  display: block;
}


.single_config_button {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
}



